<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <section id="appContainer" class="main">
      <div id="status">Loading...</div>
      <div id="hud">
        <span>Health: </span><span id="healthHUD"></span>
        <br>
        <span>&nbsp;Score: </span><span id="scoreHUD"></span>
      </div>
    </section>

    <% if (htmlWebpackPlugin.options.env === 'dev') { %>
    <script src="js/rStats.js"></script>
    <script src="js/rStats.extras.js"></script>
    <% } %>
  </body>
</html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
